<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paivadeveloper.olheiroslib">

    <application>
        <activity
            android:name=".TesteActivity"
            android:label="@string/title_activity_teste"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>